# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
testTaskCompleted/psd/
testTaskCompleted/task.*
testTaskCompleted/test.html
testTaskCompleted/fonts
testTaskCompleted/js/
!testTaskCompleted/js/iscroll.js
!testTaskCompleted/fonts/HE_CN___.TTF



