# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
gen
/testTaskCompleted/task.*
/testTaskCompleted/test.html
/testTaskCompleted/js/script.js
/testTaskCompleted/fonts/
!/testTaskCompleted/fonts/HE_CN___.TTF
/testTaskCompleted/psd/
