@font-face {
  font-family: 'HeliosCond';
  src: url("/fonts/HE_CN___.TTF");
}

/**{
  box-sizing: border-box;
}*/
body {
  margin: 0;
  padding: 0;
  font-size: 100%;
}

.page {
  width: 780px;
  margin: 0 auto;
}

.header {
  display: block;
  .decorations {
    display: inherit;
  }
}

$top-color: #5fb2a1;
.top {
  height: 6px;
  background-color: $top-color;
  position: relative;
  .cell {
    height: 100%;
    position: absolute;
    right: 0;
    top: 100%;
    .triangle {
      width: 0;
      height: 0;
      float: left;
      border-top: 9px solid $top-color;
      border-left: 9px solid transparent;
    }
    .rect {
      height: 9px;
      width: 193px;
      background-color: $top-color;
      float: left;
    }
  }
}

.triangle {
}

$mid-shadow: #84c3b7+#000;
.middle {
  overflow: hidden;
  .rect {
    box-shadow: 0px 10px 25px 0px $mid-shadow;
    background-color: #bfe0d9;
    height: 34px;
  }
  .fig-container {
    padding: 30px;
    overflow-x: hidden;
  }
  .figure {
    &.aleft.left {
      box-shadow: 10px 10px 25px 0px $mid-shadow;
      left: -16px;
      width: 247px;
      height: 32px;
    }
    &.aright.right {
      box-shadow: -10px 10px 25px 0px $mid-shadow;
      right: -8px;
      width: 67px;
      height: 15px;
    }
  }
}

.fig-container {
  position: relative;
  .figure {
    position: absolute;
    /*overflow: hidden;*/
    background: #bfe0d9;
    top: 0;
    &.aleft {
      transform: skew(-45deg);
    }
    &.aright {
      transform: skew(45deg);
    }
  }
}



.opalovZelen {
  color: #05614E;
}

$link-color: #333333;
.tipalogo {
  box-sizing: border-box;
  padding-top: 8px;
  position: absolute;
  top: 6px;
  width: 224px; /*214px;*/
  height: 66px;
  background-color: transparent;
  text-align: center;
  font-family: 'HeliosCond', sans-serif;
  .site {
    display: block;
    a {
      color: $link-color;
      text-decoration: none;
      font-size: 1.625em; /*26px / 16*/
    ;
      .small {
        font-size: 1em;
      }
    }
  }
  .slogan {
    color: #116957;
    font-size: 0.75em; //12px
  }
}

.topbg {
  background: url("../images/image-top.png") no-repeat center center;
  height: 74px;
  margin-left: 148px;
  margin-top: -60px;
  z-index: -1;
  position: relative;
}

$content-bg: #008469;
.content {
  background-color: $content-bg;
  .decorations {
    position: relative;
    width: 100%;
    .rect {
      //background-color: $content-bg;
      height: 10px;
      .rect {
        height: 100%;
        margin-left: 214px;
        position: relative;
        &:before {
          position: absolute;
          width: 100%;
          top: -2px;
          content: '';
          border-top: 1px dashed #6db8a9;
        }
      }
    }
    .fig-container {
      margin-top: -22px;
      margin-bottom: 10px;
      padding-top: 3px;
      width: 100%;
      overflow-x: hidden;
      .figure {
        &.aright.left {
          width: 213px;
          left: -5px;
          height: 9px;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            width: 100%;
            /* background-color: red; */
            height: 100%;
            border-top: 1px dashed #6db8a9;
            border-right: 1px dashed #6db8a9;
            top: -2px;
            right: -3px;
          }
        }
      }
    }
  }
}

.news {
  font-family: HeliosCond, sans-serif;
  float: left;
  width: 160px;
  padding-left: 16px;
  padding-right: 16px;
  box-sizing: border-box;
  z-index: 2;
  position: relative;
  color: white;
  background-color: inherit;
  h3 {
    font-weight: lighter;
    font-size: 1em; //16px
    line-height: 17px;
    padding-bottom: 10px;
    &:before {
      content: '>> ';
    }
  }
  h4, p {
    font-size: 0.875em; //14px;
  }
  h3, h4 {
    margin: 0;
  }
  p {
    margin: 0;
    padding-bottom: 10px;
  }
  a{
    color: white;
  }
}

.body {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  overflow: hidden;
  .topics {
  }
}

.menu {
  position: relative;
  z-index: 1;
  width: 100%;
  border-top: 3px solid #bfe0d9;
  height: 27px;
  box-sizing: border-box;
  line-height: 24px;
  background: linear-gradient(#43a490, #b8dcd5);
  box-shadow: 0px 10px 15px 0px #8ebfb5;
  font-size: 0.75em; /*12px / 16 ;*/
  font-family: HeliosCond, sans-serif;
  font-weight: bold;
  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      text-transform: uppercase;
      float: left;
      padding: 0 1px;
    }
    li:not(:last-child):after {
      content: '/';
    }
    li:first-child {
      padding-left: 16px;
    }
    a {
      padding: 0 11px;
      text-decoration: none;
      color: $link-color;
      text-shadow: 0px 2px 2px rgba(255, 255, 255, 0.75);
      transition: 0.1s linear;
      &:hover {
        text-shadow: 0px 0px 2px rgba(255, 0, 2, 0.75);
        color: #b6c7ff;
      }
    }
  }
}

a {
  text-decoration: none;
  color: $link-color;
}

.topics {
  height: 461px;
  background-color: white;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  color: $link-color;
  font-family: Verdana, sans-serif;
  position: relative;
  h1 {
    margin-top: 32px;
    width: 100%;
    font-size: 1em;
  }
  h2, p {
    font-size: 0.6875em; //11px
    word-wrap: break-word;
    overflow-wrap: break-word;
  }
  h2:first-child {
    margin-top: 5px;
  }
  .field-items {
    display: flex;
    width: 555px;
    display: flex;
    flex-wrap: nowrap;
    /* text-align: justify;*/
    .buttons {
      margin-right: 22px;
      img {
        border: 1px solid #007059;
      }
      a {
        display: block;
      }
      a:not(:last-child) {
        margin-bottom: 33px;
      }
    }
    .scroll {
      /*!*overflow: hidden;
      overflow-x: hidden;
      overflow-y: auto;*!
      height: 402px;
      !**!position: absolute;
      width: 435px;
      right: 52px;
      overflow: hidden;*/
      article {
        /*display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;*/
      }

      .articles {
        /*position: absolute;
        width: 100%;*/
      }
    }

  }
}

#wrapper {
  position: relative;
  z-index: 1;
  /*top: 45px;*/
  /*bottom: 0;
  right: 52px;*/
  width: 435px;
  height: 461px;
  overflow: hidden;
}

#scroller {
  position: absolute;
  z-index: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  width: 100%;
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-text-size-adjust: none;
  -moz-text-size-adjust: none;
  -ms-text-size-adjust: none;
  -o-text-size-adjust: none;
  text-size-adjust: none;
  padding-bottom: 80px;
}

.footer {
  display: flex;
  position: relative;
  background-color: #bfe0d9;
  border-top: 1px solid #7fc1b4;
  font-family: Verdana,sans-serif;
  height: 28px;
  box-sizing: border-box;
  z-index: 1;
  .copyright {
    text-align: center;
    font-size: 0.6875em; //11px
    width: 285px;
    float: left;
    z-index: 3;
    margin-top: -7px;
    position: absolute;
  }
  .decorations{
    display: flex;
    position: absolute;
    height: 14px;
    box-sizing: border-box;
    margin-top: -14px;
    width: 100%;
    overflow: hidden;
    .rect{
      background-color: #bfe0d9;
      height: 14px;
      width: 160px;
      z-index: 1;
      border-top: 1px solid #008469;
    }
    .fig-container{
      float: left;
      flex-grow: 1;
      .figure{
        background-color: #bfe0d9;
        height: 13px;
        border-top: 1px solid #7fc1b4;
        &.aright.left{
          width: 142px;
          margin-left: -14px;
          border-right: 1px solid #7fc1b4;

        }
        &.aleft.right{
          border-left: 1px solid #7fc1b4;
          right: 0;
          margin-right: -7px;
          width: 115px;
        }
      }
    }
  }
}

.testrect {
  position: absolute;
  width: 160px;
  height: 9px;
  background: deepskyblue;
  z-index: 3;
  left: 0;
}